<section class="my-32">
    <div class="w-full px-[var(--x-axis-main-content-padding)]">
        <div class="flex flex-col items-center justify-center">
            <div
                class="bg-nord0 h-[50vh] w-full max-w-none mx-auto relative overflow-hidden rounded-4xl group"
            >
                <div class="absolute inset-0 z-0 flex items-center justify-center">
                    <div class="absolute w-[800px] h-[800px] rounded-full border-2 border-nord4 opacity-5 "></div>
                    <div class="absolute w-[650px] h-[650px] rounded-full border-2 border-nord4 opacity-10"></div>
                    <div class="absolute w-[500px] h-[500px] rounded-full border-2 border-nord4 opacity-15"></div>
                    <div class="absolute w-[350px] h-[350px] rounded-full border-2 border-nord4 opacity-20"></div>
                    <div class="absolute w-[200px] h-[200px] rounded-full border-2 border-nord4 opacity-25"></div>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <h2 class="text-4xl font-medium text-nord-6 py-16">
                        Hicimos que crear facturas fuera 
                        <span class="bg-gradient-to-br from-nord8 to-nord10 rounded-sm px-2 py-.5 font-bold shadow-[inset_0_0_20px_rgba(0,0,0,0.3)]">
                            fácil
                        </span>
                    </h2>
                </div>
            </div>

            <div class="w-full relative -mt-[20%]">
                <div class="flex flex-row space-x-8 mx-12">
                    <div class="flex flex-1 h-[550px] rounded-4xl bg-nord4  shadow-[inset_0_0_20px_rgba(0,0,0,0.3)] relative overflow-hidden hover:cursor-pointer group" >
                        <div class="absolute inset-0 z-0 flex items-center justify-center">
                            <div class="absolute w-96 h-96 rounded-full border-2 border-nord8 opacity-15 transition-all duration-800 group-hover:opacity-30 origin-center transform-gpu group-hover:scale-105"></div>
                            <div class="absolute w-80 h-80 rounded-full border-2 border-nord8 opacity-20 transition-all duration-800 group-hover:opacity-35 origin-center transform-gpu group-hover:scale-110"></div>
                            <div class="absolute w-64 h-64 rounded-full border-2 border-nord8 opacity-25 transition-all duration-800 group-hover:opacity-40 origin-center transform-gpu group-hover:scale-115"></div>
                            <div class="absolute w-48 h-48 rounded-full border-2 border-nord8 opacity-30 transition-all duration-800 group-hover:opacity-45 origin-center transform-gpu group-hover:scale-120"></div>
                            <div class="absolute w-32 h-32 rounded-full border-2 border-nord8 opacity-35 transition-all duration-800 group-hover:opacity-50 origin-center transform-gpu group-hover:scale-125"></div>
                        </div>
                        <div class="absolute w-200 h-100 bg-gradient-to-r from-transparent via-nord8/30 to-transparent opacity-0 blur-xl transition-all duration-800 ease-in-out z-5 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform-gpu pointer-events-none scale-50 group-hover:opacity-100 group-hover:scale-100"></div>
                        <img src="/assets/elements/mock1.png" alt="Mock preview" class="absolute bottom-[-60%] px-8 transition-all duration-800 z-10 group-hover:bottom-[-45%]">
                        <div class="flex flex-col justify-start items-center h-full w-full z-20">
                            <h3 class="text-xl font-bold text-nord0 pt-12 text-center">
                               
                                Solo nos envías la foto <br>
                                de tu ticket por WhatsApp
                            </h3>
                            
                        </div>
                    </div>

                    <div class="flex flex-1 h-[550px] rounded-4xl bg-nord4  shadow-[inset_0_0_20px_rgba(0,0,0,0.3)] relative overflow-hidden hover:cursor-pointer group">
                        <div class="absolute inset-0 z-0 flex items-center justify-center">
                            <div class="absolute w-96 h-96 rounded-full border-2 border-nord8 opacity-15 transition-all duration-800 group-hover:opacity-30 origin-center transform-gpu group-hover:scale-105"></div>
                            <div class="absolute w-80 h-80 rounded-full border-2 border-nord8 opacity-20 transition-all duration-800 group-hover:opacity-35 origin-center transform-gpu group-hover:scale-110"></div>
                            <div class="absolute w-64 h-64 rounded-full border-2 border-nord8 opacity-25 transition-all duration-800 group-hover:opacity-40 origin-center transform-gpu group-hover:scale-115"></div>
                            <div class="absolute w-48 h-48 rounded-full border-2 border-nord8 opacity-30 transition-all duration-800 group-hover:opacity-45 origin-center transform-gpu group-hover:scale-120"></div>
                            <div class="absolute w-32 h-32 rounded-full border-2 border-nord8 opacity-35 transition-all duration-800 group-hover:opacity-50 origin-center transform-gpu group-hover:scale-125"></div>
                        </div>
                        <div class="absolute w-200 h-100 bg-gradient-to-r from-transparent via-nord8/30 to-transparent opacity-0 blur-xl transition-all duration-800 ease-in-out z-5 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform-gpu pointer-events-none scale-50 group-hover:opacity-100 group-hover:scale-100"></div>
                        <img src="/assets/elements/mock1.png" alt="Mock preview" class="absolute top-[-60%] px-8 transition-all duration-800 z-10 group-hover:top-[-45%]">
                        <div class="flex flex-col justify-end items-center h-full w-full z-20">
                            <h3 class="text-xl font-bold text-nord0 pb-12 text-center">
                                Nuestra IA se encarga de  <br>
                                procesarla y obtener la factura
                            </h3>
                        </div>
                    </div>

                    <div class="flex flex-1 h-[550px] rounded-4xl bg-nord4  shadow-[inset_0_0_20px_rgba(0,0,0,0.3)] relative overflow-hidden hover:cursor-pointer group" >
                        <div class="absolute inset-0 z-0 flex items-center justify-center">
                            <div class="absolute w-96 h-96 rounded-full border-2 border-nord8 opacity-15 transition-all duration-800 group-hover:opacity-30 origin-center transform-gpu group-hover:scale-105"></div>
                            <div class="absolute w-80 h-80 rounded-full border-2 border-nord8 opacity-20 transition-all duration-800 group-hover:opacity-35 origin-center transform-gpu group-hover:scale-110"></div>
                            <div class="absolute w-64 h-64 rounded-full border-2 border-nord8 opacity-25 transition-all duration-800 group-hover:opacity-40 origin-center transform-gpu group-hover:scale-115"></div>
                            <div class="absolute w-48 h-48 rounded-full border-2 border-nord8 opacity-30 transition-all duration-800 group-hover:opacity-45 origin-center transform-gpu group-hover:scale-120"></div>
                            <div class="absolute w-32 h-32 rounded-full border-2 border-nord8 opacity-35 transition-all duration-800 group-hover:opacity-50 origin-center transform-gpu group-hover:scale-125"></div>
                        </div>
                        <div class="absolute w-200 h-100 bg-gradient-to-r from-transparent via-nord8/5 to-transparent opacity-5 blur-xl transition-all duration-800 ease-in-out group-hover:via-nord8/30 group-hover:opacity-100 z-5 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform-gpu scale-[0.05] group-hover:scale-100"></div>
                        <img src="/assets/elements/mock1.png" alt="Mock preview" class="absolute bottom-[-60%] px-8 transition-all duration-800 z-10 group-hover:bottom-[-45%]">
                        <div class="flex flex-col justify-start items-center h-full w-full z-20">
                            <h3 class="text-xl font-bold text-nord0 pt-12 text-center">
                                En menos de 24 horas recibes 
                                <br>
                                tu factura directamente en el chat
                            </h3>
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
</section>
