<footer>
    <div class="flex flex-col items-center justify-center bg-nord0 mx-[var(--x-axis-main-content-padding)] h-[200px] rounded-t-4xl mt-16" >
        <div class="flex flex-row items-center justify-center">
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-nord4 font-sans text-sm font-bold">Tefacturo.io | Factura tus tickets en piloto automático | Derechos reservados © 2025</h1>
            </div>
        </div>
    </div>
</footer>